* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}



.header nav a {
    margin: 0 15px;
    color: #000000;
    text-decoration: none;
    font-size: 14px;
}

.header-buttons {
    display: flex;
    align-items: center;
}

.btn {
    background: #000;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.user-icon {
    background: #ddd;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-img {
    width: 140px;   
    height: auto;
    cursor: pointer;

}
.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: white;
    border-bottom: 1px solid #ddd;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-left a,
.nav-right a {
    text-decoration: none;
    color: #555;
    font-size: 14px;
}

.nav-right button {
    padding: 8px 16px;
    background: #111827;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.left-column {
    width: 45%;
}

.results-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.badges {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.badges span {
    background: #e5e7eb;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 12px;
}

.filter-btn {
    padding: 6px 14px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
}

.card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.card-image1 {
    height: 270px;
    background-image:url(/img/imagen3.jpg) ;
   background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.card-image2{
    height: 270px;
    background-image:url(/img/piso2.jpg) ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card-content {
    padding: 15px;
}

.card-user {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.card-user img {
    width: 35px;
    height: 35px;
    background-image:url(/img/imagen3.jpg) ;
    border-radius: 50%;
     background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card-title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
}

.card-icons {
    display: flex;
    gap: 15px;
    font-size: 13px;
    margin-bottom: 8px;
}

.card-footer {
    font-size: 12px;
    color: #666;
}

.map-column {
    width: 55%;
}

.map-box {
    width: 100%;
    height: 730px;
    background: url('/img/mapa.search.png') no-repeat center;
      background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    position: relative;
}
.map-floating-card {
    position: absolute;
    top: 50%;
    text-align: center;
    left: 30%;
    justify-content: center;
    background: white;
    padding: 15px;
    border-radius: 12px;
    width: 350px;
    height: 200px; ;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}